body {
	background-color: #dbe2ec;
}

section {
	position: relative;
}

.column {
	width: 25%;
	// height: 40em;
	height: 560px;
	margin-left: 50px;
	margin-top: 50px;
	float: left;
}
.col-footer {
	height: 40px;
	width: 100%;
	color: #667;
	box-sizing: border-box;
	position: absolute;
	bottom: 0;
	padding: 10px;
	background-color: white;
}
.glyphicon-comment {
	float: right;
}

#col1 {
	background-image: url('../img/tab1.jpg');
	background-size: 100%;
	color: #e7e7e7;
}

#col1 p {
	text-transform: uppercase;
	font-size: 10px;
	margin-left: 10%;
	margin-top: 50%;
}

#col1 h1 {
	text-transform: uppercase;
	font-size: 30px;
	letter-spacing: 2px;
	width: 50%;
	margin-left: 10%;
}

.btn-travel {
	background-color: #e7e7e7;
	border: none;
	color: black;
	padding: 10px 12px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
	margin: 4px 2px;
	margin-left: 10%;
	cursor: pointer;
	float: left;
}

#col2 {
	float: inline-block;
	background-color: #f8f9fa;
	letter-spacing: 2px;
	text-align: justify;
}

#col2 p {
	margin: 10%;
}

#col2 p:first-child:first-letter {
	font-size: 400%;
	font-weight: bold;
}

#col3 {
	background-color: #f8f9fa;
}

#col3 h1 {
	font-size: 16px;
	text-transform: uppercase;
	text-align: center;
	margin: 15px 0px 40px 0px;
	letter-spacing: 1px;
}

#col3 img {
	width: 15%;
	border-radius: 50%;
	float: left;
	margin: 0 20px 60px 20px;
}

#col3 p {
	font-size: 12px;
}

.comment {

}

.comment-time {
	color: #bbb;
}

.comment-txt {
	line-height: 180%;
	margin: 20px 40px 20px 0px;
	color: #667;
}

